<div class="menu__wrapper">
    <button class="menu__item--kebab {{ class }} {{#if isOpenChatMenu}}active{{/if}}" type="{{ type }}">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </button>
</div>
