<div class="chat">
    <div class="chat sidebar">
        <div class="chat list">
            <div class="list-header">
                <div class="profile">
                    {{{ Button class="profile-button" type="button" label='Profile' page="ProfilePage" }}}
                </div>
                <div class="search">
                    {{{ Input type='search' name='search' class="chat-search" placeholder="Search" }}}
                </div>
            </div>
            <a href="" class="chat item">
                <div class="avatar"></div>
                <div class="dialog title">
                    <div class="dialog title-user-title">Andrew</div>
                    <div class="dialog title-details">17:25</div>
                </div>
                <div class="dialog subtitle">
                    <div class="dialog subtitle-message">Agag agas a gagsaga ags</div>
                    <div class="dialog subtitle unread">3</div>
                </div>
            </a>
            <a href="" class="chat item">
                <div class="avatar"></div>
                <div class="dialog title">
                    <div class="dialog title-user-title">Andrew</div>
                    <div class="dialog title-details">17:25</div>
                </div>
                <div class="dialog subtitle">
                    <div class="dialog subtitle-message">Agag agas a gagsaga ags</div>
                    <div class="dialog subtitle"></div>
                </div>
            </a>
            <a href="" class="chat item">
                <div class="avatar"></div>
                <div class="dialog title">
                    <div class="dialog title-user-title">Andrew</div>
                    <div class="dialog title-details">17:25</div>
                </div>
                <div class="dialog subtitle">
                    <div class="dialog subtitle-message">Agag agas a gagsaga ags</div>
                    <div class="dialog subtitle unread">1</div>
                </div>
            </a>
        </div>
    </div>
    <div class="chat messenger">
        <div class="messenger-body">
            <span class="chat welcome-message">Select a chat to send a message</span>
        </div>
    </div>
</div>
