<div class="chat">
    <div class="chat__sidebar">
        <ul class="chat__list">
            <a href="" class="chat__item">
                <div class="avatar"></div>
                <div class="chat__item-content">
                    <div class="dialog__title">
                        <div class="dialog__title-user-title">Andrew</div>
                        <div class="dialog__title-details">17:25</div>
                    </div>
                    <div class="dialog__subtitle">
                        <div class="dialog__subtitle-message">Agag agas a gagsaga ags</div>
                        <div class="dialog__subtitle-unread">1</div>
                    </div>
                </div>
            </a>
        </ul>
    </div>
    <div class="chat__messenger">
        <span class="chat__welcome-message">Select a chat to send a message</span>
        <div class="chat__footer">
            <label>
                <input class="chat__message" name="message" readonly/>
            </label>
        </div>
    </div>
</div>
