<div class="error container">
    <h1 class="error title">{{errorTitle}}</h1>
    <span class="error text">{{errorText}}
        {{{ Button class="error back-button" label="Chat" page="ChatPage" }}}
    </span>
</div>
