<div class="error__container">
    <h1 class="error__title">
        <span class="error__text">{{errorText}}
            {{> Button class="error__back-button" label="Chat" page="chatPage" }}
        </span>
    </h1>
</div>
