<div class="profile">
    <div class="profile__avatar"></div>
    <div class="profile__info">
        <div class="profile__item">
            <span class="label">Email</span><span class="email">ivan@gmail.com</span>
        </div>
        <div class="profile__item">
            <span class="label">Login</span><span class="login">ivanivanov</span>
        </div>
        <div class="profile__item">
            <span class="label">First Name</span><span class="fist-name">Ivan</span>
        </div>
        <div class="profile__item">
            <span class="label">Second Name</span><span class="second-name">Ivanov</span>
        </div>
        <div class="profile__item">
            <span class="label">Phone</span><span class="email">+78005553535</span>
        </div>
    </div>
    <div class="profile__edit-buttons">
        <div class="profile__edit-profile">
            {{> Button class="profile__button-edit-profile" label="Change Profile" page="profileEditPage"}}
        </div>
        <div class="profile__edit-password">
            {{> Button class="profile__button-edit-password" label="Change Password" page="profileEditPasswordPage"}}
        </div>
    </div>
</div>
