<div class="main-page container">
    <nav class="main-page items">
        {{> Button class="login-page" type="button" label="Login Page" id="button" page="loginPage" }}
        {{> Button class="registration-page" type="button" label="Registation Page" id="button" page="registrationPage" }}
        {{> Button class="chat-list-page" type="button" label="Chat Page" id="button" page="chatPage" }}
        {{> Button class="profile-page" type="button" label="Profile Page" id="button" page="profilePage" }}
        {{> Button class="profile-edit-page" type="button" label="Edit Profile Page" id="button" page="profileEditPage" }}
        {{> Button class="profile-edit-password-page" type="button" label="Edit Password Page" id="button" page="profileEditPasswordPage" }}
        {{> Button class="error-404-page" type="button" label="Error 404" id="button" page="error404" }}
        {{> Button class="error-500-page" type="button" label="Error 500" id="button" page="error500" }}
    </nav>
</div>
