<div class="container container-center">
    <div class="container-all">
        {{> Button class="login" type="button" label="Login Page" page="loginPage" }}
        {{> Button class="registration" type="button" label="Registation Page" page="registrationPage" }}
        {{> Button class="chat_list" type="button" label="Chat Page" page="chatPage" }}
        {{> Button class="profile" type="button" label="Profile Page" page="profilePage" }}
        {{> Button class="profile-edit" type="button" label="Edit Profile Page" page="profileEditPage" }}
        {{> Button class="profile-edit-password" type="button" label="Edit Password Page" page="profileEditPasswordPage" }}
        {{> Button class="error-404" type="button" label="Error 404" page="error404" }}
        {{> Button class="error-500" type="button" label="Error 500" page="error500" }}
    </div>
</div>
