<div class="profile edit-password">
    <div class="profile sidebar">
        {{{ Button class="back-button" type="button" id="button" onClick=goBack }}}
    </div>
    <div class="main-content">
        <div class="profile avatar"></div>
        <form class="profile info edit-password-form">
            <div class="profile info edit-password">
                <div class="profile item editable">
                    {{{ Input type='password' name='oldPassword' class="profile old-password" id="old-password" label='Old Password' }}}
                </div>
                <div class="profile item editable">
                    {{{ Input type='password' name='newPassword' class="profile new-password" id="new-password" label='New Password' }}}
                </div>
            </div>
            <div class="profile save-profile">
                {{{ Button class="profile button-save" type="submit" label="Save" onClick=onValid }}}
            </div>
        </form>
    </div>
</div>
