<form class="profile__edit-password-form">
    <div class="profile__edit-password">
        <div class="profile__item">
            {{> Input type='password' name='oldPassword' class="profile__old-password" id="old-password" label='Old Password' }}
        </div>
        <div class="profile__item">
            {{> Input type='password' name='newPassword' class="profile__new-password" id="new-password" label='New Password' }}
        </div>
    </div>
    <div class="profile__edit-password-submit">
        {{> Button class="profile__button-save" type="submit" label="Save" page="profilePage" }}
    </div>
</form>
