<div class="login">
    <form class="form_login">
        {{> Input type='text' name='login' class="login" id="login" label='Login' }}
        {{> Input type='password' name='password' class="password" id="password" label='Password' }}
        <div  class="button_submit">
            {{> Button class="button_login" type="submit" page="registrationPage" label='Sign In'}}
        </div>
    </form>
</div>