<div class="chat-list">
    {{#if chats.length}}
    {{#each chats}}
        {{{ ChatItem chat=this currentChat=../currentChat }}}
    {{else}}
        <p class="no-chats">No chats available</p>
    {{/each}}
    {{/if}}
</div>
